/*table spacing */

#contentTableHeader .kitid{
	width:15% !important;
}

#contentTableHeader .kit_desc{
	width:50% !important;
}

#contentTableHeader .loan_length{
	width:15% !important;
}

#contentTableHeader .status{
	width:5% !important;
}
#contentTableHeader .filler{
	width:15% !important;
}